src - Copy/
src/RabbitMQ/bin/
src/RabbitMQ/obj/
src/RabbitMQ-RPC/obj/
src/RPCClient/bin/
src/RPCClient/obj/
src/RPCServer/bin/
src/RPCServer/obj/
src/RabbitMQ-RPC/.vs/
src/PublisherClient/obj/
src/PublisherClient/bin/
src/ConsumerServer/obj/
src/ConsumerServer/bin/
